out
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
data/mpi
data/h3.6
models/*
data/src/model_anal/*/*
data/src/MPI-INF-3DHP/out
data/seq_human
data/pose_data
data/*/*/*npy
results/Prior_GRU_t30_l200/*
results/t30-l150/*
results/t30-l200/*
tb_graphs/*
